@model IEnumerable<Miv.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="main-table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imgUrl)
                </td>
                <td>
                    <ul>
                        @foreach (var attaching in item.Attachings)
                        {
                            <li>@attaching.Content.ContentID</li>
                            <li>@attaching.Content.Name</li>
                            <li>@attaching.Content.Description</li>

                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    var $ = require('jquery');
    var dt = require('datatables.net')(windows,$);
    $(document).ready( function() {
        $('#main-table').DataTable();
    });
</script>
