@model IEnumerable<Miv.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tabMaterial" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachings)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgUrl)
        </td>
        <td>
            <table id="childsplay" class="table">
                <thead>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                </thead>
                <tbody>
                    @foreach (var attaching in item.Attachings)
                    {
                        <tr>
                            <td>@attaching.Content.ContentID</td>
                            <td>@attaching.Content.Name</td>
                            <td>@attaching.Content.Description</td>
                        </tr>}
                </tbody>
            </table>
        </td>

        </tr>
        }
        </tbody>
    </table>


@*Loading Datatables to the page*@
<link href="~/datatables/datatables.css" rel="stylesheet" />
@*Loading the Datables js*@
@section Scripts{

    <script src="~/datatables/datatables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#tabMaterial').DataTable({
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: -2
                }],
                order: [1, 'asc']
            } );
        });
    </script>
}
